.image {
    width: 150px;
    /* Ensure the image doesn't exceed its original size */
    height: 50px;
    /* Ensure the image doesn't exceed its original size */
}

.right {
    background-color: rgb(177, 213, 251);

}

.icon {
    padding-top: 20px;
    padding: 20px;
    width: 100px;
    height: 100px;
    margin-left: 50px;

}

.search {
    margin-top: 5%;
    margin-left: 40%;
}

.nav {
    margin-right: 50%;
    text-decoration: none;
}

.logout {
    margin-left: 30%;
}